{% extends 'layouts/login.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}
  <form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
	<div class="logo"><img src="{% static 'img/logo.png' %}" width="150"></div>
    <div class="panel panel-default">
    	<div class="panel-body box-login">
        <h3 class="title-login">Login</h3>
        <div class="form-group">
          <label for="username" class="sr-only">Usuário</label>
          <span class="fa fa-user"></span>
          <input type="text" name="username" class="form-control input-login" placeholder="Usuário" required autofocus>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Senha</label>
          <span class="fa fa-lock"></span>
          <input type="password" name="password" class="form-control input-login" placeholder="Senha" required>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
        </div>
        <a href="{% url 'users:register' %}" class="link-register">Criar uma conta</a>
    		{% if error %}
    			<div class="alert alert-danger">{{error}}</div>
    		{% endif %}
      </div>
    </div>
    <div class="text-center">
      <strong>Login de Teste:</strong><br><br>
      Usuário: admin<br>
      Senha: admin<br>
    </div>
  </form>
{% endblock %}
