{% extends 'layouts/login.html' %}
{% load bootstrap %}
{% block content %}
  <div class="panel panel-default">
  	<div class="panel-body box-login">
			<h3 class="title-login">Cadastro</h3>
      <form method="POST">
          {% csrf_token %}
          {{ form|bootstrap }}
          <a href="/" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
  				<button type="submit" class="btn btn-success"><i class="fa fa-hdd-o"></i> Salvar</button>
      </form>
    </div>
  </div>
{% endblock %}
