h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  margin: 0px !important;
  background-color: #fff;
  color: #333;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

a:hover, a:focus {
  color: #000 !important;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.logo {
	margin: 12px;
	text-align: center;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 15px;
    padding: 0px !important;
}
.navbar-brand {
    padding: 20px 25px !important;
    color: #fff !important;
    min-height: 60px !important;
    float: left !important;
    margin-right: 0px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand:hover {
    color: #ddd !important;
}
.navbar-static-top {
    z-index: 9 !important;
}
.collapse:not(.show) {
    display: block !important;
}
.navbar-default {
    background-color: #0B2D7B !important;
    box-shadow: 0px 2px 6px #ccc;
}
.navbar-default .container-header {
    width: 100% !important;
}
.navbar-default .navbar-nav > li {
    position: relative !important;
    display: block !important;
    margin-right: 20px !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-size: 14px !important;
    padding: 14px 8px !important;
    line-height: 26px !important;
    text-decoration: none !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
    text-decoration: none !important;
	background-color: #0a245e !important;
}
.navbar-default .navbar-toggle {
    border-color: #fff !important;
    background-color: #0B2D7B !important;
}
.navbar-default .navbar-toggle:hover {
    background-color: #0B2D7B !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-default .navbar-nav > .show > a, .navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
    background-color: #0a245e !important;
    color: #ffffff !important;
    padding: 14px 8px !important;
}
.navbar-default .navbar-header {
  float: left !important;
}
.navbar-default .navbar-right {
    margin-right: 0px !important;
    float: right !important;
}
.navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu > li > a:hover {
    color: #ffffff !important;
    background-color: #0a245e !important;
}
.navbar-nav .dropdown-menu > li > a {
    font-weight: 400;
    color: #333;
}
.navbar-nav .dropdown-menu {
    padding-top: 2px !important;
    padding-bottom: 6px !important;
    background-color: #0a245e !important;
}
.dropdown-header, .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    line-height: 1.6;
    white-space: nowrap;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    display: none;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
}

.nav > li > a > img {
    max-width: none;
}
.img-circle {
    border-radius: 50%;
}

.nav {
	display: block !important;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-left {
    float: left !important;
}

.menu-item {
    float: left;
	width: auto;
	clear: none;
}
.menu-item a {
    color: #fff !important;
    background-color: transparent !important;
    padding: 20px 15px !important;
}
.menu-item a:hover {
    color: #fff !important;
    background-color: #0a245e !important;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar-right .dropdown-menu {
    left: auto !important;
    right: 0 !important;
}
.show {
    display: block !important;
}
.dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  z-index: 1000 !important;
  float: left !important;
  min-width: 160px;
  padding: 5px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2px 0 0;
  margin-top: 2px;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid #0B2D7B;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}

.container-fluid {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-default {
  border-color: #ddd;
}
.panel-body {
  padding: 15px;
}

.search-right {
	display: block;
	width: 32% !important;
	float: right;
	text-align: right;
	height: 55px;
}

.search-right input {
	float: left;
	margin-right: 5px !important;
	margin-left: -47px !important;
}

.pag-right {
	display: block;
	width: 50%;
	float: right;
	text-align: right;
	margin-top: -15px;
	height: 50px;
}

.col-actions {
	text-align: center;
	width: 200px !important;
}

.btn {
	vertical-align: baseline !important;
	margin-bottom: -1px !important;
}

.btn-default {
  color: #0B2D7B !important;
  background-color: #fff;
  border-color: #0B2D7B !important;
}

.btn-success {
	color: #fff !important;
	background-color: #0B2D7B !important;
}

.btn-outline-secondary {
  border: 1px solid #0B2D7B !important;
  color: #0B2D7B !important;
}

.fa-arrow-left {
  color: #0B2D7B !important;
}

.fa-user {
  float: left;
  position: relative;
  color: #0B2D7B !important;
  font-size: 16px !important;
  top: 25px;
  left: 12px;
  z-index: 2;
}

.fa-lock {
  float: left;
  position: relative;
  color: #0B2D7B !important;
  font-size: 16px !important;
  top: 25px;
  left: 12px;
  z-index: 2;
}

.input-login {
  padding-left: 34px !important;
}

th {
	padding: 15px 0px !important;
}

td {
	padding: 0 5px 7px;
	vertical-align: baseline !important;
}

.page-login {
  background-image: linear-gradient(#ffffff, #FFE801);
  height: 750px;
  overflow: hidden;
}

.bg-login {
  background-color: #0B2D7B;
}

.container-login {
  max-width: 360px;
  margin: 0px auto !important;
  padding-top: 85px !important;
}

.container-form {
	margin-left: -15px !important;
}

.box-login {
  box-shadow: 1px 3px 12px #1e4599;
}

input:focus {
  box-shadow: 1px 1px 5px #1e4599 !important;
  border: 1px solid #1e4599 !important;
}

.alert {
  margin-top: 15px !important;
}

.title-login {
  text-align: center;
  padding-bottom: 12px;
}

.link-register {
  font-size: 14px !important;
}

.col-actions {
  text-align: center;
  width: 320px !important;
}

/* Absolute Center Spinner */
.loading {
position: fixed;
z-index: 999;
height: 2em;
width: 2em;
overflow: show;
margin: auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

/* Transparent Overlay */
.loading:before {
content: '';
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
/* hide "loading..." text */
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}

.loading:not(:required):after {
content: '';
display: block;
font-size: 10px;
width: 1em;
height: 1em;
margin-top: -0.5em;
-webkit-animation: spinner 1500ms infinite linear;
-moz-animation: spinner 1500ms infinite linear;
-ms-animation: spinner 1500ms infinite linear;
-o-animation: spinner 1500ms infinite linear;
animation: spinner 1500ms infinite linear;
border-radius: 0.5em;
-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
