{% extends 'layouts/base.html' %}
{% block content %}
  <div id="starting">
      <h2>DNA</h2>
      <button  type="button" class="btn btn-success" @click="getDna()" data-toggle="modal" data-target="#addDnaModal">Adicionar</button>
      <div class="search-right">
        <form method="GET" action="">
          <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" v-model="search_term" aria-label="Search">
          <button type="submit" class="btn btn-primary" v-on:click.prevent="getDnas()"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dna</th>
            <th scope="col">Categoria</th>
            <th scope="col" class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="value in dnas">
            <th scope="row">${value.id}</th>
            <td>${value.dna}</td>
            <td>${value.categoria}</td>
            <td class="col-actions">
              <button class="btn btn-primary" v-on:click="getDna(value.id)" data-toggle="modal" data-target="#editDnaModal"><i class="fa fa-edit"></i> Editar</button>
              <button class="btn btn-danger" v-on:click="deleteDna(value.id)"><i class="fa fa-trash"></i> Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Adicionar DNA Modal -->
      <div class="modal fade" id="addDnaModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="modalTitle">Adicionar DNA</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
			  <div class="alert alert-success" v-if="successMessage">${ successMessage }</div>
			  <div class="alert alert-danger" v-if="errorMessage">${ errorMessage }</div>
              <div class="form-group">
                <label for="dna">Dna</label><br>
				<div v-for="(value, index) of currentDna.dna">
					<input type="text" class="form-control" placeholder="Código" v-model="currentDna.dna[index]" required="required">
				</div>
				<button type="button" class="btn btn-success" @click="addCodigo"><i class="fa fa-plus"></i> Código</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
              <button type="button" class="btn btn-success" @click="addDna"><i class="fa fa-hdd-o"></i> Salvar</button>
            </div>
            
          </div>
        </div>
        <div class="loading" v-if="loading===true">Loading&#8230;</div>
      </div>
      <!-- End of add article modal -->

      <!-- Editar DNA Modal -->
      <div class="modal fade" id="editDnaModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="modalTitle">Editar DNA</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
			  <div class="alert alert-success" v-if="successMessage">${ successMessage }</div>
              <div class="alert alert-danger" v-if="errorMessage">${ errorMessage }</div>
              <div class="form-group">
                <label for="dna">Dna</label>
				<div v-for="(value, index) of currentDna.dna">
					<input type="text" class="form-control" placeholder="Código" v-model="currentDna.dna[index]" required="required">
				</div>
				<button type="button" class="btn btn-success" @click="addCodigo"><i class="fa fa-plus"></i> Código</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Fechar</button>
			  <button type="button" class="btn btn-success" @click="updateDna"><i class="fa fa-hdd-o"></i> Salvar</button>
            </div>
            
          </div>
        </div>
        <div class="loading" v-if="loading===true">Loading&#8230;</div>
      </div>
      <!-- End of edit article modal -->
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
{% endblock %}
