{% extends 'layouts/base.html' %}
{% block content %}
  <div id="starting">
      <h2>Estatística</h2>
	  <div class="panel panel-default">
		<div class="panel-body">
			Quantidade de Simian: ${stats.count_mutant_dna} <br><br>
			Quantidade de Humanos: ${stats.count_human_dna} <br><br>
			Ratio: ${stats.ratio} <br>
		</div>
	  </div>
      
      <!-- End of edit article modal -->
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
{% endblock %}
